<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>

<HEAD>
  <TITLE> สนามกีฬาชนโค ทุ่งทะเลหลวงสุโขทัย </TITLE>
  <META NAME="Generator" CONTENT="EditPlus">
  <META NAME="Author" CONTENT="">
  <META NAME="Keywords" CONTENT="">
  <META NAME="Description" CONTENT="">
  <!-- <link rel="stylesheet" href="../css/style.css"> -->
  <script src="../js/jquery-3.1.1.js"></script>
  <script src="../js/jquery.form.min.js"></script>
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Poppins', sans-serif;
    }

    html,
    body {
      display: grid;
      
      /*  place-items: center;
        background: #7099f9;*/
      place-items: center;
    }

    .container {
      max-width: 48em;
      padding: 5em 3em 2em 3em;
      margin: 0em auto;
      background-color: #fff;
      border-radius: 4.2px;
      box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.2);


    }

    .row {
      zoom: 1;
    }

    .row:before,
    .row:after {
      content: "";
      display: table;
    }

    .row:after {
      clear: both;
    }

    .file {
      visibility: hidden;
      position: absolute;
    }

    .bg {
      background-image: url("../img/bg.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      width: 643px;
      height: 264px;
      margin: 2px;
    }

    .barcode2 {
      margin-top: 53mm;
      margin-left: 95.6mm;
    }

    .barcode {
      position: absolute;
      margin-top: 43mm;
      margin-left: 12mm;
    }

    /* 64ac15 */
    *,
    *:before,
    *:after {
      box-sizing: border-box;
    }

    #demobg {
    margin-bottom: 5em;
    }
  </style>
</HEAD>

<BODY>
  <!-- <div class="bg"></div> -->
  <!-- <img src="../img/bg1.jpg"   alt="star" width="2550px" height="1050px"> -->
  <!-- <button type="button" class="btn btn-success" onclick="genbarcode()">สร้างบาร์โค้ด</button> -->
  <!-- <div id="demo" ></div> -->
  <!-- <img src="http://localhost:8080/0101000110001111"   alt="star" width="260" height="160">

<img src="http://localhost:8080/010100011000"   alt="star" width="260" height="160">

<img src="http://localhost:8080/010100011000"   alt="star" width="260" height="160">

<img src="http://localhost:8080/010100011000"   alt="star" width="260" height="160"> -->
  <script>
    $(document).ready(function () {
      var bgname = '<%= bgname %>';
      localStorage.setItem("bgname", bgname);
      console.log("bgname")
      console.log(bgname)

      $('#frmUploader').attr('action', 'api/Upload/' + bgname);
      // alert(bgname);
      if (bgname == "") {
        alert("เลือกรูปบัตร");
        //document.getElementById("btnSubmit").style("display":n);
        return;
      }
      var options = {
        beforeSubmit: showRequest, // pre-submit callback 
        success: showResponse // post-submit callback 
      }; // bind to the form's submit event 
      $('#frmUploader').submit(function () {
        // alert("sdss")
        $(this).ajaxSubmit(options); // always return false to prevent standard browser submit and page navigation 
        return false;
      });
    }); // pre-submit callback 
    function showRequest(formData, jqForm, options) {
      //alert('Uploading is starting.'); 
      return true;
    } // post-submit callback 
    function showResponse(responseText, statusText, xhr, $form) {
      //alert('status: ' + statusText + '\n\nresponseText: \n' + responseText);
      var bg = localStorage.getItem("bgname");
      genbarcode(bg);
      //changeimg();
    }




    // var x ="", i;
    // for (i=1; i<=10; i++) {
    //   x = x + '<div class="bg" ><img src="http://localhost:8080/barcode/0101000'+i+'1000" width="112" height="55" class="barcode" ><img src="http://localhost:8080/barcode/0101000'+i+'1000" width="112" height="55" class="barcode2" ></div>';
    // }
    // document.getElementById("demo").innerHTML = x;
    function changeimg(input) {

      if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function (event) {
          //alert(event.target.result)
          // $('#myid').attr('src', event.target.result);

          var bg = "background-image: url('" + event.target.result + "');";
          var x = "", i;
          for (i = 1; i <= 1; i++) {
            x = x + '<div class="container" style="float: left;padding: 0em 0em 0em 0em;"  ><div class="bg" style="' + bg + '"><img src="http://202.129.16.74:7780/barcode/010100001000" width="97" height="40" class="barcode" ><img src="http://202.129.16.74:7780/barcode/010100001000" width="112" height="55" class="barcode2" ></div> </div> ';
          }
          document.getElementById("demobg").innerHTML = x;
        }
        reader.readAsDataURL(input.files[0]);
      }


    }
    function genbarcode(bg) {
      localStorage.removeItem("bgname")
      if (bg == "") {
        alert("เลือกรูปบัตร");
        //document.getElementById("btnSubmit").style("display":n);
        return;
      }
      var data = {
        test: "test",
        bg: bg,
        qtystart: document.getElementById("qtystart").value,
        qtyend: document.getElementById("qtyend").value,
        around: document.getElementById("around").value,
        card_type: document.getElementById("card_type").value
      }
      var param = JSON.stringify(data);
      window.location.href = "/genbarcode/" + param;
    }
    $(document).on("click", ".browse", function () {
      var file = $(this).parents().find(".file");
      file.trigger("click");
    });
  </script>
  <img src="../Images/logo_icon.png" style="width: 20%;height: auto;">
  <div class="row">

    <h3>ปริ้นบัตร สนามกีฬาชนโค ทุ่งทะเลหลวงสุโขทัย</h3>
  </div>
  <div class="container" style="background-color: #212132;">

    <div class="row">

      <div class="form-group">
        <select class="form-control form-select form-select-lg mb-3" name="around" id="around">
          <option selected>รอบแข่ง</option>
          <option value="01">เช้า</option>
           <option value="02"> บ่าย</option>
        </select>
      </div>
      <div class="form-group">
        <select class="form-control form-select form-select-lg mb-3" name="card_type" id="card_type">
          <option selected>ประเภทตั๋ว</option>
          <option value="01">ธรรมดา</option>
          <option value="02">วีไอพี</option>
        </select>
      </div>
      <div class="form-group group input-group mb-3">
        <div class="input-group-append" style="float: left;">
      
          <input type="number" name="qtystart" class="form-control" id="qtystart" placeholder="จำนวนเริ่มต้น" autocomplete="off">
        </div>
        
        <div class="input-group-append" style="float: right;">
          <input type="number" name="qtyend" class="form-control" id="qtyend" placeholder="ถึงจำนวนสิ้นสุด" autocomplete="off">

        </div>
      </div>

      <div class="form-group input-group mb-3">
        <button type="button" class="browse btn btn-primary">เลือกรูปบัตร</button>
        <div class="input-group-append" style="float: left;">

          <input type="text" class="form-control" disabled placeholder="Upload File" id="file">

        </div>
      </div>
      <form id="frmUploader" enctype="multipart/form-data" method="post" onsubmit="changeimg(this)">
        <input class="button btn-lg btn-dark file" type="file" name="imgUploader" onchange="changeimg(this)" multiple />
        <input class="btn"  style="background-color: #e24d2d;float: right;color: #ffffff;" type="submit" name="submit" id="btnSubmit" value="สร้างบาร์โค้ด" />
      </form>

    </div>



  </div>
  <div id="demobg"></div>
  <!-- <button onclick="genbarcode(this)">สร้างบาร์โค้ด</button> -->
</BODY>

</HTML>