<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>

<HEAD>
  <TITLE> New Document </TITLE>
  <META NAME="Generator" CONTENT="EditPlus">
  <META NAME="Author" CONTENT="">
  <META NAME="Keywords" CONTENT="">
  <META NAME="Description" CONTENT="">
  <link rel="stylesheet" href="../css/style.css">

</HEAD>

<BODY style="background-color: #ffffff;">
  <header>
    <h1><a href="/creatbarcode">
        << ปริ้นบาร์โค้ดเพิ่ม</a>
    </h1>
  </header>

  <!-- <div class="bg"></div> -->
  <!-- <img src="../img/bg1.jpg"   alt="star" width="2550px" height="1050px"> -->
  <!-- <button type="button" class="btn btn-success" onclick="genbarcode()">สร้างบาร์โค้ด</button> -->
  <!-- <div class="container"> -->
  <div id="demo"></div>
  <!-- <div id="myDiv" style="height: 150; width: 300;background-image:url('img/1644477776245_bg.jpg') ;">sss</div> -->
  <!-- </div> -->
  <!-- <img src="img/1644477776245_bg.jpg"   alt="star" width="260" height="160"> -->

  <!--<img src="http://localhost:8080/010100011000"   alt="star" width="260" height="160">

<img src="http://localhost:8080/010100011000"   alt="star" width="260" height="160">

<img src="http://localhost:8080/010100011000"   alt="star" width="260" height="160"> -->
  <script>
    // document.getElementById("myDiv").style.backgroundImage = "url('img/1644477776245_bg.jpg')";

    var bg = "background-image: url('../img/" + '<%= data.bg %>' + "_bg.jpg');";
    var x = "", i;
    var n = parseInt('<%= data.qty %>');
    var a = '<%= data.around %>';
    var c = '<%= data.card_type %>';
    var price = "";
    var barcode= "";
    var ticketnum= "";
    // alert(n)
    for (i = 1; i <= n; i++) {
      if (a == "02") {
        price = "0000"
      }
      if (a == "01") {
        price = "0700"
      }
      if (i < 10) {
        ticketnum = "000" + i;
      } else if (i < 100) {
        ticketnum = "00" + i;
      } else if (i < 1000) {
        ticketnum = "0" + i;
      } else {
        ticketnum = "" + i;
      }
        barcode = a + "" + c + "" + ticketnum + price;
        x = x + '<div class="container" style="float: left;padding: 0em 0em 0em 0em;" ><div class="bg" style="' + bg + '"><img src="http://localhost:7780/barcode/' + barcode + '" width="100" height="40" class="barcode" ><img src="http://localhost:7780/barcode/' + barcode + '" width="110" height="50" class="barcode2" ></div> </div> ';
    }
      document.getElementById("demo").innerHTML = x;
      function genbarcode() {
        var data = {
          test: "test"
        }
        var param = JSON.stringify(data);
        window.location.href = "/genbarcode/" + param;
      }
  </script>
  // <!-- <button onclick="genbarcode()">สร้างบาร์โค้ด</button> -->

</BODY>

</HTML>